<mat-card [ngClass]="{'text-center' : !fullWidthMode}">
    <div>
        <img  class ="mb-1 mx-auto h-[200px]"
        [ngClass]="{'h-200px' : !fullWidthMode, ' h-[300px]': fullWidthMode}"
        src="https://via.placeholder.com/150" alt="placeholder">
    </div>
    <div class="w-full">
        <div>
            <h5>Shoes</h5>
            <p class="truncate
            hover:whitespace-normal">Snickers</p>
            <p>Descrition</p>
        </div>
        <div class="flex justify-between">
            <span class="text-red-400">
                {{'150' | currency}}
            </span>
            <button>
                <mat-icon class="text-gray-500">
                    shopping_cart
                </mat-icon>
            </button>
        </div>
    </div>

</mat-card>